body{
    background: #004784;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

img{
    width: 100%;
}

/* este es un comentario*/
/**
*NAV BAR
**/
#navbar{
    background: #ffffff;
}

.navbar-material-white{
    background-color: #ffffff;
}

.navbar .navbar-brand{
    height: 100px;
}

.navbar .navbar-brand, .navbar .navbar-nav > li > a{
    color: #004784;
    font-size: 16px;
    text-transform: uppercase;
}

.navbar .navbar-nav > li > a:active, .navbar .navbar-nav > li > a:hover{
    color: #1ebd83;
}

.navbar .navbar-brand img{
    height: 100%;
    width: auto;
}

.navbar .navbar-nav > li > a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 40px;
}

.navbar-brand{
    padding: 30px;
}

/**
** CONTENIDO
/*/

#contenido{
    margin-top: 100px;
}

/**
** BOTONES REDONDOS
/*/

.buttons{
    margin-top: 15%;
    text-align: center;
}

.sphere{
    background: transparent;
    border: 2px solid #333;
    border-radius: 50%;
    color: black;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    padding: 28% 0;
    text-transform: uppercase;
    width: 8em;
}
.sphere:hover, .sphere:target, .sphere:focus{
    background: transparent;
    color: black;
}

/* -------------------------------- 

TESTIMONIOS

-------------------------------- */
.cd-testimonials-wrapper {
    position: relative;
    width: 100%;
    max-width: 768px;
    background-color: #39393c;
    margin-top: 2em;
    margin-bottom: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px 40px 70px;
    z-index: 1;
}
.cd-testimonials-wrapper::after {
    /* quotation mark */
    content: '\201C';
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: 50px;
    padding-top: 8px;
    margin-left: -25px;
    background: rgba(32, 32, 34, 0.9);
    font-family: "Georgia", serif;
    color: white;
    font-size: 70px;
    font-size: 4.375rem;
    text-align: center;
    /* visible on big devices only */
    display: none;
}
    @media only screen and (min-width: 768px) {
        .cd-testimonials-wrapper {
            padding: 64px 50px 60px;
        }
    }
    @media only screen and (min-width: 1170px) {
        .cd-testimonials-wrapper::after {
            /* quotation mark visible */
            display: block;
        }
    }

.cd-testimonials {
  color: white;
  text-align: center;
}
.cd-testimonials:after {
  content: "";
  display: table;
  clear: both;
}
.cd-testimonials > li {
    position: absolute;
    opacity: 0!important;
}

.cd-testimonials > li.flex-active-slide{
    opacity: 1!important;
    margin-left: -0.5%;
    list-style: none;
}

.cd-testimonials > li:first-child {
  position: relative;
  opacity: 1;
}
.cd-testimonials p {
  font-family: "Georgia", serif;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 1em;
  padding: 0 14px;
}
@media only screen and (min-width: 768px) {
  .cd-testimonials p {
    font-size: 22px;
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials p {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.6;
  }
}

.cd-author img, .cd-author .cd-author-info {
  display: inline-block;
  vertical-align: middle;
}
.cd-author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.cd-author .cd-author-info {
    text-align: left;
    line-height: 1.2;
    padding-left: 0;
}
.cd-author .cd-author-info li{
    list-style: none;
}
.cd-author .cd-author-info li:first-child {
  font-size: 14px;
  font-size: 0.875rem;
}
@media only screen and (min-width: 768px) {
  .cd-author img {
    width: 50px;
    height: 50px;
  }
  .cd-author .cd-author-info {
    line-height: 1.4;
  }
  .cd-author .cd-author-info li:first-child {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-author .cd-author-info li:last-child {
    font-size: 14px;
  }
}

.flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
}
.flex-direction-nav li:first-child {
  left: 0;
}
.flex-direction-nav li:last-child {
  right: 0;
}
.flex-direction-nav li a {
  display: block;
  height: 100%;
  width: 100%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.no-touch .flex-direction-nav li a:hover {
  background-color: #323234;
}
.flex-direction-nav li a::before, .flex-direction-nav li a::after {
  /* left and right arrows in css only */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 13px;
  background-color: white;
}
.flex-direction-nav li a::before {
  -webkit-transform: translateY(-35px) rotate(45deg);
  -moz-transform: translateY(-35px) rotate(45deg);
  -ms-transform: translateY(-35px) rotate(45deg);
  -o-transform: translateY(-35px) rotate(45deg);
  transform: translateY(-35px) rotate(45deg);
}
.flex-direction-nav li a::after {
  -webkit-transform: translateY(-27px) rotate(-45deg);
  -moz-transform: translateY(-27px) rotate(-45deg);
  -ms-transform: translateY(-27px) rotate(-45deg);
  -o-transform: translateY(-27px) rotate(-45deg);
  transform: translateY(-27px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::before {
  -webkit-transform: translateY(-35px) rotate(-45deg);
  -moz-transform: translateY(-35px) rotate(-45deg);
  -ms-transform: translateY(-35px) rotate(-45deg);
  -o-transform: translateY(-35px) rotate(-45deg);
  transform: translateY(-35px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::after {
  -webkit-transform: translateY(-27px) rotate(45deg);
  -moz-transform: translateY(-27px) rotate(45deg);
  -ms-transform: translateY(-27px) rotate(45deg);
  -o-transform: translateY(-27px) rotate(45deg);
  transform: translateY(-27px) rotate(45deg);
}
@media only screen and (min-width: 768px) {
  .flex-direction-nav li {
    width: 50px;
  }
}
@media only screen and (min-width: 1170px) {
  .flex-direction-nav li a::before, .flex-direction-nav li a::after {
    background-color: #5e5e63;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
    background-color: white;
  }
}

/* -----------------------------------
SIGN IN

--------------------------------------*/

#signin{
    margin: 100px auto;
}

/**
** FOOTER
**/

footer{
    color: #004784;
}

footer .copyright li{
    margin-top: 15px;
}

footer .rs li {
    margin-top: 10px;
}

footer .rs li a{
    height: 32px;
    width: 32px;
    margin-left: 30px;
}

footer .fb{
    background: url("images/face-icon.png") no-repeat left top;
}

footer .tw{
    background: url("images/twitter-icon.png") no-repeat left top;
}

footer .navbar .navbar-nav > li > a{
    padding-top: 15px;
    padding-bottom: 15px;
}