@font-face {
	font-family: 'titilliumtext22llight';
	src: url('../../fonts/titillium/titilliumtext22l002-webfont.eot');
	src: url('../../fonts/titillium/titilliumtext22l002-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/titillium/titilliumtext22l002-webfont.woff2') format('woff2'),
	url('../../fonts/titillium/titilliumtext22l002-webfont.woff') format('woff'),
	url('../../fonts/titillium/titilliumtext22l002-webfont.ttf') format('truetype'),
	url('../../fonts/titillium/titilliumtext22l002-webfont.svg#titilliumtext22llight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'titilliumtext22l_rgregular';
	src: url('../../fonts/titillium/titilliumtext22l003-webfont.eot');
	src: url('../../fonts/titillium/titilliumtext22l003-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/titillium/titilliumtext22l003-webfont.woff2') format('woff2'),
	url('../../fonts/titillium/titilliumtext22l003-webfont.woff') format('woff'),
	url('../../fonts/titillium/titilliumtext22l003-webfont.ttf') format('truetype'),
	url('../../fonts/titillium/titilliumtext22l003-webfont.svg#titilliumtext22l_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'titilliumtext22l_ththin';
	src: url('../../fonts/titillium/titilliumtext22l001-webfont.eot');
	src: url('../../fonts/titillium/titilliumtext22l001-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/titillium/titilliumtext22l001-webfont.woff2') format('woff2'),
	url('../../fonts/titillium/titilliumtext22l001-webfont.woff') format('woff'),
	url('../../fonts/titillium/titilliumtext22l001-webfont.ttf') format('truetype'),
	url('../../fonts/titillium/titilliumtext22l001-webfont.svg#titilliumtext22l_ththin') format('svg');
	weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'titilliumtext22lxbold';
	src: url('../../fonts/titillium/titilliumtext22l006-webfont.eot');
	src: url('../../fonts/titillium/titilliumtext22l006-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/titillium/titilliumtext22l006-webfont.woff2') format('woff2'),
	url('../../fonts/titillium/titilliumtext22l006-webfont.woff') format('woff'),
	url('../../fonts/titillium/titilliumtext22l006-webfont.ttf') format('truetype'),
	url('../../fonts/titillium/titilliumtext22l006-webfont.svg#titilliumtext22lxbold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'titilliumtext22l_rgbold';
	src: url('../../fonts/titillium/titilliumtext22l005-webfont.eot');
	src: url('../../fonts/titillium/titilliumtext22l005-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/titillium/titilliumtext22l005-webfont.woff2') format('woff2'),
	url('../../fonts/titillium/titilliumtext22l005-webfont.woff') format('woff'),
	url('../../fonts/titillium/titilliumtext22l005-webfont.ttf') format('truetype'),
	url('../../fonts/titillium/titilliumtext22l005-webfont.svg#titilliumtext22l_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'titilliumtext22l_ltmedium';
	src: url('../../fonts/titillium/titilliumtext22l004-webfont.eot');
	src: url('../../fonts/titillium/titilliumtext22l004-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/titillium/titilliumtext22l004-webfont.woff2') format('woff2'),
	url('../../fonts/titillium/titilliumtext22l004-webfont.woff') format('woff'),
	url('../../fonts/titillium/titilliumtext22l004-webfont.ttf') format('truetype'),
	url('../../fonts/titillium/titilliumtext22l004-webfont.svg#titilliumtext22l_ltmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	border: 0;
	padding: 0;
	margin: 0;
}

hr{
	position: relative;
	margin: 7% 0 5.5% 0;
	width: 100%;
	border: 1px solid rgba(255,255,255,0.1);
}

a, a:hover, a:active, a:target, a:link, a:visited{
	color: #C7C1BF;
	text-decoration: none;
}

.container-fluid{
	padding: 0;
}

.container-fluid:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url("../../img/progressbar.png");
	height: 5px;
	width: 100%;
	z-index: 2;
}

/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	background-image: url('../../img/background.jpg');
}

#content{
	color: #C7C1BF;
	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center;
	top: 10%;
	width: 100%;
}

#logo{
	position: relative;
	top: 10%;
}

#logo img{
	width: 25%;
}

#sections .title{
	font-size: 24px;
	font-family: 'titilliumtext22l_rgregular';
	line-height: 24px;
}

#sections img{
	margin-top: 10px;
	width: 60%;

	-webkit-transition: all .6s ease-in-out;    /* safari - Chrome*/
	-moz-transition: all .6s ease-in-out;       /* Firefox */
	-o-transition: all .6s ease-in-out;         /* Opera */
	transition: all .6s ease-in-out;
}

#sections img:hover{
	transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
}

#sections img.cb{
	margin-top: 34px;
}

#sections .more{
	font-family: 'titilliumtext22l_ththin';
	font-size: 16px;
	margin: 10px 0;
	vertical-align: middle;
}

#sections .transparency{
	background: rgba(0,0,0,0.3) repeat;
	margin-top: 40px;
}

.p-rp .icon-plus-alt:before{
	color: #004B8C;
}

.p-cb .icon-plus-alt:before{
	color: #069493;
}

.p-er .icon-plus-alt:before{
	color: #0FA651;
}

/* Modal */
.modal{
	color: #fff;
	font-family: 'titilliumtext22l_ththin';
}

.modal.right .modal-dialog{
	width: 450px;
	margin: 30px 150px;
}

.modal.right .close{
	float: left;
}

.modal.right .close, .modal.left .close{
	color: #fff;
}

.modal.left .modal-dialog{
	width: 450px;
	margin: 30px 1300px;
}

.modal.right .modal-dialog, .modal.left .modal-dialog{
	position: absolute;
	top: auto;
	bottom: 280px;
}

.modal-content{
	background-color: rgba(25, 25, 39, 0.55);
	background: url("../../img/callout-bg.png") repeat;
	border: none;
	border-radius: 0;

	box-shadow: none;
}

.modal-content:after{
	content: '';
	background: url("../../img/callout.png") no-repeat;
	width: 22px;
	height: 29px;

	position: absolute;
	bottom: -29px;
}

.modal.right .modal-content:after{
	right: 0;

	-moz-transform: scaleX(-1); /* Firefox */
	-o-transform: scaleX(-1); /* Opera */
	-webkit-transform: scaleX(-1); /* Chrome y Safari */
	transform: scaleX(-1); /* w3org */
}

.modal.left .modal-content:after {
	left: 0;
}

.modal-backdrop{
	background: transparent;
}

.modal-header{
	border: none;
}

/* MEDIA */

@media screen and (max-width: 1680px){
	#logo img {
		width: 28%;
	}

	hr{
		margin-top: 6%;
	}

	#content {
		top: 14%;
	}

	#sections img{
		width: 90%;
	}

	.modal.right .modal-dialog{
		margin-left: 50px;
	}

	.modal.left .modal-dialog{
		margin-left: 1180px;
	}
}

@media screen and (max-width: 1600px){

	hr{
		margin-top: 4%;
		margin-bottom: 4%;
	}

	#sections img {
		width: 70%;
	}

	.modal.right .modal-dialog, .modal.left .modal-dialog{
		bottom: 225px;
	}

	.modal.right .modal-dialog {
		margin-left: 30px;
	}
	.modal.left .modal-dialog {
		margin-left: 1120px;
	}
}

@media screen and (max-width: 1400px) and (max-height: 1050px){
	#logo img {
		width: 37%;
	}

	hr {
		margin-top: 5%;
		margin-bottom: 6%;
	}

	#sections img {
		width: 90%;
	}

	.modal.right .modal-dialog, .modal.left .modal-dialog {
		bottom: 280px;
		width: 400px;
	}

	.modal.right .modal-dialog{
		margin-left: 25px;
	}

	.modal.left .modal-dialog{
		margin-left: 990px;
	}
}

@media screen and (max-width: 1440px) and (max-height: 900px){
	#logo img {
		width: 30%;
	}

	hr {
		margin-bottom: 4%;
	}
	#content{
		top: 15%;
	}
	#sections img{
		width: 80%;
	}

	.modal.left .modal-dialog{
		margin-left: 1015px;
	}
}

@media screen and (max-width: 1366px){
	#logo img {
		width: 25%;
	}
	hr {
		margin-top: 4%;
	}
	#sections .title {
		font-size: 20px;
	}

	#sections img {
		width: 60%;
	}

	.modal.left .modal-dialog {
		margin-left: 935px;
	}
}

@media screen and (max-width: 1280px) and (max-height: 1024px){
	#logo img {
		width: 40%;
	}
	hr {
		margin-top: 7%;
		margin-bottom: 7%;
	}
	#sections img {
		width: 100%;
	}
	.modal.right .modal-dialog, .modal.left .modal-dialog{
		bottom: 350px;
		width: 350px;
	}
	.modal.left .modal-dialog {
		margin-left: 890px;
	}
}

@media screen and (max-width: 1280px) and (max-height: 800px){
	#logo img {
		width: 25%;
	}

	hr {
		margin-top: 5%;
		margin-bottom: 5%;
	}

	#sections img {
		width: 80%;
	}

	.modal.right .modal-dialog, .modal.left .modal-dialog{
		bottom: 250px;
	}
}

@media screen and (max-width: 1024px){
	#logo img {
		width: 35%;
	}
	#sections img {
		width: 100%;
	}
	#sections .title {
		font-size: 18px;
		line-height: 18px;
	}
	#sections .more {
		font-size: 15px;
	}
	[class^="icon-"], [class*=" icon-"] {
		font-size: 18px;
	}

	.modal.right .modal-dialog, .modal.left .modal-dialog {
		bottom: 180px;
		width: 270px;
	}

	.modal.right .modal-dialog {
		margin-left: 20px;
	}

	.modal.left .modal-dialog {
		margin-left: 735px;
	}
}