@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/plus/icomoon.eot?-82i8hl');
	src:url('../../fonts/plus/icomoon.eot?#iefix-82i8hl') format('embedded-opentype'),
		url('../../fonts/plus/icomoon.woff?-82i8hl') format('woff'),
		url('../../fonts/plus/icomoon.ttf?-82i8hl') format('truetype'),
		url('../../fonts/plus/icomoon.svg?-82i8hl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 18px;
	vertical-align: middle;
}

.icon-plus-alt:before {
	content: "\e601";
}
